PORT=3000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME"

# GitHub OAuth app
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

# JWT
JWT_SECRET=
ACCESS_TOKEN_EXPIRY=3m
REFRESH_TOKEN_EXPIRY_MS=300000

WEB_ORIGIN=http://localhost:5173
